<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Roboto+Condensed:ital,wght@1,400;1,700&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ET95Z5D5XR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ET95Z5D5XR');
</script>
    <meta charset="UTF-8">
    <title>Home page DataGAM</title>
</head>
<body>
<script>
    document.getElementById("academiaec_page").addEventListener("click",function (){
      gtag("event","academiaecView", {" debug_mode":true});
    });
</script>
<h1>Welcome to DataGAM.</h1>
    <h3>Website GAM for Data Analytics.</h3>
</body>
<ul>
    <li><a id="comercial_page" href="{% url 'comercial' %}">Comercial</a></li>
    <li><a id="farma_page" href="{% url 'farma' %}">Farma</a></li>
    <li><a id="hospitalar_page" href="{% url 'hospitalar' %}">Hospitalar</a></li>
    <li><a id="academiaec_page" href="{% url 'academiaec' %}">AcademiaEC</a></li>
</ul>
</html>